@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-wrap justify-content-center">
    <div class="border p-4 m-2" style="max-width: 500px">
        <h1>Welcome to StoryBuilder!</h1>
        <p>This tool is for creating and saving characters. In the future more features will be added to design your world. Go checkout the character creator to get started!</p>
    </div>
    <div class="border p-4 m-2">
        <h1>Planned Features</h1>
        <ol>
            <li>World Detail Editor</li>
            <li>Timeline Creator</li>
            <li>User Story Submissions</li>
            <li>Comment Section for User Stories</li>
        </ol>
    </div>
</div>