@{
    ViewData["Title"] = "Log In";
}
<div class="d-flex flex-column align-items-center">
    <h1>Log In</h1>
    <form class="form-control p-4" style="max-width: 400px">
        <div>
            <label for="username" class="mb-2">Username</label>
            <input type="text" class="form-control mb-2" name="username" />
            <label for="password" class="mb-2">Password</label>
            <input type="text" class="form-control mb-2" name="password" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
