@model List<Story>

@{
    ViewData["Title"] = "Your Stories";
}

@if (Model.Count != 0)
{
    foreach (Story story in Model)
    {
        <p>
            @story.Title <br/>
            By @story.AppUser.UserName <br/>
            @story.StoryText <br/>
            Published @story.Date <br/>
        </p>
        
        <br/> <br/>
    }
}