@{
    ViewData["Title"] = "Create";
}

<div class="container d-flex flex-wrap justify-content-center">
    <a href="/Create/CharacterCreator/" class="link-dark">
    <div class="border p-4 m-2" style="max-width: 500px">
        
        <h1>Charactor Creator</h1>
        <p>Use the provided template to map out all of the details and personal histories of your characters. You can categorize them by story, faction, gender, and more.</p>
       
    </div>
    </a>
    <a href="/Create/StoryCreator/" class="link-dark">
    <div class="border p-4 m-2" style="max-width: 500px">
        <h1>Write a Story</h1>
        <p>Write a story and post it on the site. You can also have your stories be a part of a larger work.</p><br />
    </div>
    </a>
</div>