@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex flex-wrap justify-content-center mt-4">
    <div class="m-2">
        <h1 style="text-align: center">Log In</h1>
        <form method="post" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="form-control p-4">
            <div>
                <label for="username" class="mb-2">Username</label>
                <input asp-for="Username" type="text" class="form-control mb-2" name="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
                <label for="password" class="mb-2">Password</label>
                <input type="password" asp-for="Password" class="form-control mb-2" name="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="checkbox" title="Remember Me" asp-for="RememberMe" class="form-check-inline" /> <label>Remember Me</label>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="Register">Register as a new user</a>
            </div>
        </form>
    </div>
</div>
