@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

<div class="container d-flex justify-content-center">
    

    <div class="m-2">
        <h1 style="text-align: center">Register</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-action="Register" class="form-control p-4">
            <div>
                <label class="mb-2">Username</label>
                <input asp-for="Username" type="text" class="form-control mb-2" name="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
                <label class="mb-2">Password</label>
                <input type="password" asp-for="Password" class="form-control mb-2" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <label class="mb-2">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control mb-2" />
                <button type="submit" class="btn btn-primary">Register</button>
                
            </div>
        </form>
    </div>
</div>